* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: flex-end;
}

nav a {
  padding: 20px;
}
a {
  text-decoration: none;
  color: black;
}
.main-bod {
  display: flex;
  justify-content: center;
}

p {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}

.main {
  margin: 15% 20%;
}

.searchbar {
  border-color: #888888;
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  display: block;
  margin: 10px;
  padding: 10px;
  width: 500px;
}

.searchbtn {
  background-color: #f8f9fa;
  border-style: none;
  margin: 11px 4px;
  padding: 8px 16px;
}

.input-tab {
  display: flex;
  justify-content: center;
}
